.container{
    font-family: Fira Sans,Helvetica,Arial,sans-serif;
    line-height: 1.81;
    color: #555555;
    

}


.background-image-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 12% 0;
}



.navbar-light .navbar-nav .nav-item .nav-link{
    padding: 10 25;
    font-family: Fira Sans,Helvetica,Arial,sans-serif;
    line-height: 1.81;
    font-size: 15px;
    font-weight: 600;
  
}

.navbar-brand{
    font-weight: 600;
}

.mid .container{
    margin:50 auto;
    text-align:justify;
}

.icon{
    width: 64px;
    margin: 20 auto;
}

.heading{
    text-align: center;
    line-height: 1.5;
}

.mid .container .row .col-lg-4{
    padding: 30px;
}

.slide-heading{
    padding: 10 0;
    text-align: center;
    font-weight: bolder;
    
}

.testimonial{
    background-color: eeeeee;
}

.testimonial .container{
    padding: 50px 0 20px 0;
}

#pricing{
    margin: 50px 70px 100px;
    
}


.price-heading{
    line-height: 2;
}


.card{
    text-align: center;
    font-family: Fira Sans,Helvetica,Arial,sans-serif;
    line-height: 1.81;
}


.bottom-heading{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 30px;
    text-align: center;
    color: #555;
}

.bottom-para{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #555
    
}

.bottom .container-fluid .row .col-lg-12 .butt{
    font-size: 25px;
    font-weight: 400;
    
}

.bottom .container-fluid{
    background-image: url("bg-img.jpg");
    background-size:cover;
    padding: 100px;
    text-align: center;
    font-family: Fira Sans,Helvetica,Arial,sans-serif;
    line-height: 2;
    
}

.footer .container .row .col-lg-4 h4{
    font-weight: 600;
    color: #0c0633;
    padding-bottom: 10px;
}
.content{
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.footer{
    margin: 50px;
    padding: 30px;
    line-height: 1.8;
}

.social-icon{
    padding: 10px;
    border-radius: 100%;
    margin: 15px;
    border-style:solid;
    border-width: 1.2px;
}
.icon1{
    padding: 10 15 10 15;
}

i:hover{
    background-color:#F6F6E9;
}

.logo{
    width: 80%;
    margin:50 auto;
    padding: 10px;
    opacity: 0.41
    
}

.page-base-image {
    margin: 50px auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}